body,.d-flex, .header, .box, .column p {
  font-family: 'Afacad', sans-serif;
}

/* Pengaturan font-weight yang berbeda */
.d-flex, .box, .column p {
  font-weight: 600;
}

.header {
  font-weight: 700; /* Meningkatkan font-weight untuk .header */
}

.column p {
  font-size: larger;
}

.col-md-4 {
  margin-bottom: 20px;
}

.larger-box{
  width: 90%;
  height: 90%;
}


.gradient-custom {
  /* fallback for old browsers */
  /* background: #6a11cb; */
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, rgb(119, 211, 253), rgba(37, 117, 252, 1))
  }

  name{
    color: blue;
    text-transform: capitalize;
  }

  /* Tambahkan gaya ini ke file CSS Anda atau tambahkan langsung ke dalam tag style di HTML */

/* Tambahkan gaya ini ke file CSS Anda atau tambahkan langsung ke dalam tag style di HTML */
/* Tambahkan gaya ini ke file CSS Anda atau tambahkan langsung ke dalam tag style di HTML */
.larger-box {
  position: relative;
  transition: transform 0.3s ease;
}

.larger-box p {
  margin-top: 0; /* Mengatur margin-top pada teks tanpa efek hover */
}

.larger-box:hover {
  transform: scale(1.1) translateY(10px); /* Atur translasi ke bawah sejauh 10px saat dihover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Gaya tambahan untuk memberikan efek hover pada teks */

/* Tambahkan ini ke dalam file style.css */
.text-link {
  text-decoration: none; /* Menonaktifkan garis bawah pada tautan */
}

/* Jika ingin menonaktifkan efek garis bawah hanya saat hover, tambahkan aturan ini: */
.text-link:hover {
  text-decoration: none;
}

